<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EvA - Eventos Argentinos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

    <nav class="navbar navbar-expand-md mb-4">
        <a class="navbar-brand text-danger" href="/eventos">EvA </a>
        <p>
        <form action="/eventos" method="GET" class="form-inline" id="campground-search">
            <div class="form-group">
                <input type="text" name="search" placeholder="Buscar eventos" class="form-control">
                <input type="submit" value="Buscar" class="text-danger button-custom">
            </div>
        </form>
        </p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item 
                <% if(!currentUser){ %> 
                    <li class=" nav-item">
                    <a href="/login" class="nav-link text-danger">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link text-danger">Registrarse</a>
                </li>

                <a href="/eventos" class="nav-link text-danger">Crear Evento</a>
                </li>
                <%} else{ %>
                <li class="nav-item">
                <li class="nav-link text-danger">Logueado como <strong><%= currentUser.username %></strong> </li>
                <a href="/logout" class="nav-link text-danger">Cerrar Sesion</a>
                </li>
                <%}  %>
            </ul>

        </div>
    </nav>
    <%if(error && error.length > 0){%>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <%}%>
    <%if(success && success.length > 0){%>
    <div class="alert alert-success" role="alert"><%= success %></div>
    <%}%>