<%- include("../partials/header") %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center pt-2">
        <h1>Crea un nuevo comentario al evento: <%= evento.name %></h1>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 p-3">
        <form action="/eventos/<%= evento._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="Comentario...">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-danger btn-block">Crear!</button>
            </div>
        </form>
        <a href="/eventos">Volver</a>
    </div>
</div>
<%- include("../partials/footer") %>