html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 4rem;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.eventos-title {
  padding: 10px 0 30px 80px;
}

#evento-grid {
  padding: 0 80px;
}

.jumbotron {
  padding: 80px 270px;
  background-color: transparent;
}

.image-main {
  position: absolute;
  width: 45%;
  left: 50rem;
  top: 3rem;
  object-fit: cover;
}

.delete-form {
  display: inline;
}

.button-custom {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.image-responsive {
  border: 1px solid brown;
}

footer {
  background-color: brown;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.alert {
  position: relative;
  z-index: 100;
}

.padding-row {
  padding: 3rem 10rem;
}
